# Fichiers compilés
*.class
*.jar
*.war
*.ear
*.logs
*.nar
*.zip
*.tar.gz
*.rar

# Fichiers/dossiers générés par l'IDE
.idea/
*.iml
*.iws

# Fichiers/dossiers générés lors de la construction
target/
out/
build/
dist/

# Fichiers de logs et autres fichiers temporaires
*.log

# Autres fichiers/dossiers ignorés couramment
.DS_Store
Thumbs.db

# Fichiers de configuration locaux (peuvent différer d'un utilisateur à l'autre)
local.properties

# Fichier généré par macOS
*.swp
*.swo

# Fichiers temporaires pour IntelliJ
*.tmp

# Fichiers générés par Gradle (si vous utilisez Gradle)
.gradle/

# Fichiers générés par Maven (si vous utilisez Maven)
log/
